openapi: 3.0.3
info:
  title: DOKUMEN API PakArbi - OpenAPI 3.0
  description: >-
    Dokumentasi API untuk Aplikasi Parkir QR Code ULBI (PakArbi)
  termsOfService: https://pakarbi.vaidiq.cloud/swagger/
  contact:
    email: farhanrizki101010@gmail.com
  license:
    name: PakArbi Backend
    url: https://pkg.go.dev/github.com/pakarbi/pakarbibackend
  version: 0.1.3
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/pakarbi/pakarbibackend
servers:
  - url: https://asia-southeast2-pakarbi.cloudfunctions.net
tags:
paths:
  /loginpakarbiadmin:
    post:
      tags:
        - Login Admin
      summary: Login Admin
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthEmail"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input

  /registerpakarbi:
    post:
      tags:
        - Register User
      summary: Register User Account
      description: Add new User data
      operationId: create User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateUser"
        "400":
          description: Invalid input or request body

  /loginpakarbinpm:
    post:
      tags:
        - Login User
      summary: Login User NPM
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Auth"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input

  /loginpakarbiemail:
    post:
      tags:
        - Login User
      summary: Login User Email
      description: Login and Get User
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Auth"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input

  /getallparkiran:
    get:
      tags:
        - Data Parkiran
      summary: Get All Data Parkiran
      description: List Data Parkiran
      operationId: GetParkiran
      responses:
        "200":
          description: successful operation parkiran
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid status value
      security:
        - Login: []

  /getonedataparkiran:
    get:
      tags:
        - Data Parkiran
      summary: Get By ID Data Parkiran
      description: List One Data Wisata
      operationId: getWisataById
      parameters:
        - name: _id
          in: query
          schema:
            type: string
          description: ID of Wisata
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ParkiranById"
        "400":
          description: Invalid status value

  /insertparkirannpm:
    post:
      tags:
        - Parkiran NPM
      summary: Create Parkiran Data
      description: Add new Parkiran data
      operationId: create Parkiran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateParkiran" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid input or request body
      security:
        - Login: []

  /updateparkirannpm:
    put:
      tags:
        - Parkiran NPM
      summary: Updated Parkiran Data berdasarkan nomor id
      description: Updated Parkiran data
      operationId: Updated Parkiran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/parkiran" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid input or request body
      security:
        - Login: []

  /deleteparkirannpm:
    delete:
      tags:
        - Parkiran NPM
      summary: delete Parkiran Data berdasarkan nomor id
      description: delete Parkiran data
      operationId: delete Parkiran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteParkiran" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid input or request body
      security:
        - Login: []

  /insertparkiranemail:
    post:
      tags:
        - Parkiran Email
      summary: Create Parkiran Data
      description: Add new Parkiran data
      operationId: create Parkiran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateParkiran" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid input or request body
      security:
        - Login: []

  /updateparkiranemail:
    put:
      tags:
        - Parkiran Email
      summary: Updated Parkiran Data berdasarkan nomor id
      description: Updated Parkiran data
      operationId: Updated Parkiran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/parkiran" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid input or request body
      security:
        - Login: []

  /deleteparkiranemail:
    delete:
      tags:
        - Parkiran Email
      summary: delete Parkiran Data berdasarkan nomor id
      description: delete Parkiran data
      operationId: delete Parkiran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteParkiran" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateParkiran"
        "400":
          description: Invalid input or request body
      security:
        - Login: []

components:
  schemas:
    Auth:
      type: object
      properties:
        npm:
          type: string
          example: 1214000
        passwordhash:
          type: string
          example: ulbipass

    AuthEmail:
      type: object
      properties:
        email:
          type: string
          example: 1214000@std.ulbi.ac.id
        passwordhash:
          type: string
          example: ulbipass

    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: Selamat Datang User
        token:
          type: string
          example: alagabres

    GetDataParkiran:
      type: object
      properties:
        parkiranid:
          type: string
          example: testparkiranid
        nama:
          type: string
          example: testnama
        npm:
          type: string
          example: testnpm
        prodi:
          type: string
          example: testprodi
        namakendaraan:
          type: string
          example: testnamakendaraan
        nomorkendaraan:
          type: string
          example: testnomorkendaraan
        jeniskendaraan:
          type: string
          example: testjeniskendaraan
        status:
          type: string
          example: teststatus
        jammasuk:
          type: string
          example: testjammasuk
        jamkeluar:
          type: string
          example: testjamkeluar

    CreateUser:
      type: object
      properties:
        usernameid:
          type: string
          example: D4TI1214020
        username:
          type: string
          example: Farhan Rizki Maulana
        npm:
          type: string
          example: 1214020
        password:
          type: string
          example: olkiu567
        passwordhash:
          type: string
          example: olkiu567
        email:
          type: string
          example: 1214020@std.ulbi.ac.id
        role:
          type: string
          example: user

    CreateParkiran:
      type: object
      properties:
        parkiranid:
          type: string
          example: D41214020
        nama:
          type: string
          example: Farhan Rizki Maulana
        npm:
          type: string
          example: 1214020
        prodi:
          type: string
          example: D4 Teknik Informatika
        namakendaraan:
          type: string
          example: Supra X 125
        nomorkendaraan:
          type: string
          example: F 1234 BGR
        jeniskendaraan:
          type: string
          example: Motor
        status:
          type: string
          example: Mahasiswa Aktif
        jammasuk:
          type: string
          example: 08:00
        jamkeluar:
          type: string
          example: 15:00

    ParkiranByID:
      type: object
      properties:
        _id:
          type: string
          example: 65b8277dd73e368ee1def9e4

    DeleteParkiran:
      type: object
      properties:
        parkiranid:
          type: string
          example: D41214020

    parkiran:
      type: object
      properties:
        parkiranid:
          type: string
          example: D41214020
        nama:
          type: string
          example: Farhan Rizki Maulana
        npm:
          type: string
          example: 1214020
        prodi:
          type: string
          example: D4 Teknik Informatika
        namakendaraan:
          type: string
          example: Supra X 125
        nomorkendaraan:
          type: string
          example: F 1234 BGR
        jeniskendaraan:
          type: string
          example: Motor
        status:
          type: string
          example: Mahasiswa Aktif
        jammasuk:
          type: string
          example: 12:00
        jamkeluar:
          type: string
          example: 16:00

    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Auth"

    AdminArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AuthResponse"
  securitySchemes:
    Login:
      type: apiKey
      name: Login
      in: header
